<div class="container">
    <div class="row">
        <div class="col-sm" *ngFor="let order of orders; let i = index">
            <p>{{order.orderId}}</p>
            <p>{{order.userId}}</p>
            <p>{{order.user2Id}}</p>
            <p>{{order.status}}</p>
            <form action="" [formGroup]="approveOrder[i]" (submit)="processOrder(order.orderId, 'approved')">                
                <button class="btn btn-success mb-1">Approve</button>
            </form>
            <form action="" [formGroup]="declineOrder[i]" (submit)="processOrder(order.orderId, 'declined')">
                <button class="btn btn-danger">Decline</button>
            </form>
        </div>
    </div>
</div>